.App {
  text-align: center;
  /* border: 1px solid grey;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  border-radius: 12px; */
}
.user-list{
  margin: 0;
  padding: 0px;
}
/* .user-form{
  display: flex;
  min-width: 150px;

} */
